;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #282A2E
background-alt = #373B41
foreground = #C5C8C6
primary = #F0C674
secondary = #8ABEB7
alert = #A54242
disabled = #707880

;==========================================================
;
;   Bar configuration
;
;==========================================================

[bar/main]
width = 100%
height = 16pt
radius = 6

dpi = 0

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3pt

border-size = 4pt
border-color = #00000000

padding-left = 0
padding-right = 1

module-margin = 1

monitor-strict = false

separator = |
separator-foreground = ${colors.disabled}

; Install nerd fonts like this
; https://gist.github.com/davidteren/898f2dcccd42d9f8680ec69a3a5d350e
; You will need to download Arimo Nerd Font
; https://github.com/googlefonts/Arimo

font-0 = "Roboto:size=11;1"
font-1 = "Tamsyn:pixelsize=12;0"
font-2 = "Noto Sans:size=11;1"
font-3 = "Arimo Nerd Font:size=14;2"

modules-left =
modules-right = network-throughput wlan-wlo1 polybar-speedtest filesystem-usage-clickable-root filesystem-usage-clickable-work memory-usage-clickable swap-usage-clickable cpu-usage-clickable weather-san-diego

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

;==========================================================
;
;   Application settings
;
;==========================================================

[settings]
screenchange-reload = true
pseudo-transparency = true

;==========================================================
;
;   Module configuration
;
;==========================================================

;==========================================================
;  CPU
;==========================================================

[module/cpu-usage]
type = custom/script
interval = 2
exec = ~/.config/polybar/scripts/cpu-usage.py

[module/cpu-usage-clickable]
type = custom/ipc
label = %output%
initial = 1
hook-0 = ~/.config/polybar/scripts/cpu-usage-clickable.py
click-left = ~/.config/polybar/scripts/cpu-usage-clickable.py --toggle && polybar-msg action cpu-usage-clickable hook 0
daemonize = true
daemonize-arg-interval = 2

;==========================================================
;  Filesystem
;==========================================================

[filesystem-usage-base]
type = custom/script
interval = 2
env-unit = "auto"
exec = ~/.config/polybar/scripts/filesystem-usage.py --mountpoint "$mountpoint" --unit "$unit"

[module/filesystem-usage-root]
inherit = filesystem-usage-base
env-mountpoint = "/"

[module/filesystem-usage-work]
inherit = filesystem-usage-base
env-mountpoint = "/work"

[filesystem-usage-formatted-base]
type = custom/script
interval = 25
env-format = "{^used / ^total}"
env-unit = "auto"
exec = ~/.config/polybar/scripts/filesystem-usage-formatted.py --mountpoint "$mountpoint" --format "$format" --unit "$unit"

[module/filesystem-usage-formatted-root]
inherit = filesystem-usage-formatted-base
env-mountpoint = "/"

[module/filesystem-usage-formatted-work]
inherit = filesystem-usage-formatted-base
env-mountpoint = "/work"

[filesystem-usage-clickable-base]
type = custom/ipc
initial = 1
label = %output%

[module/filesystem-usage-clickable-root]
inherit = filesystem-usage-clickable-base
; How to use variables here?
; env-mountpoint = /
; env-unit = "auto"
hook-0 = ~/.config/polybar/scripts/filesystem-usage-clickable.py --mountpoint / --unit auto
click-left = ~/.config/polybar/scripts/filesystem-usage-clickable.py --mountpoint / --unit auto --toggle && polybar-msg action filesystem-usage-clickable-root hook 0
daemonize = true
daemonize-arg-label = root
daemonize-arg-interval = 2

[module/filesystem-usage-clickable-work]
inherit = filesystem-usage-clickable-base
; How to use variables here?
; env-mountpoint = /work
; env-unit = "auto"
hook-0 = ~/.config/polybar/scripts/filesystem-usage-clickable.py --mountpoint /work --unit auto
click-left = ~/.config/polybar/scripts/filesystem-usage-clickable.py --mountpoint /work --unit auto --toggle && polybar-msg action filesystem-usage-clickable-work hook 0
daemonize = true
daemonize-arg-label = work
daemonize-arg-interval = 2

;==========================================================
;  Memory
;==========================================================

[module/memory-usage]
type = custom/script
interval = 2
exec = ~/.config/polybar/scripts/memory-usage.py

[module/memory-usage-formatted]
type = custom/script
interval = 2
env-format = "{^used / ^total}"
env-unit = "auto"
exec = ~/.config/polybar/scripts/memory-usage-formatted.py --format "$format" --unit "$unit"

[module/memory-usage-clickable]
type = custom/ipc
label = %output%
initial = 1
hook-0 = ~/.config/polybar/scripts/memory-usage-clickable.py --unit auto
click-left = ~/.config/polybar/scripts/memory-usage-clickable.py --unit auto --toggle && polybar-msg action memory-usage-clickable hook 0
daemonize = true
daemonize-arg-interval = 2

;==========================================================
;  Network
;==========================================================

[network-base]
type = internal/network
interval = 5
format = <label>
format-connected = <label-connected>
format-disconnected = <label-disconnected>
label-disconnected = %{F#F0C674}%ifname%%{F#707880} disconnected

[module/network-throughput]
inherit = network-base
interface = wlo1
interval = 2
interface-type = wireless
label-connected = %{F#F0C674}%ifname%%{F-} %downspeed% RX / %upspeed% TX

;==========================================================
;  Polybar Speedtest
;==========================================================

[module/polybar-speedtest]
; This is launched and daemonized by launch.py so we don't do anything here
type = custom/ipc
label = %output%
initial = 1
hook-0 = echo "%{F#F0C674}%{F-} Speedtest running..."
daemonize = true
daemonize-arg-download =
daemonize-arg-upload =
daemonize-arg-interval = 300

;==========================================================
;  Stocks
;==========================================================

[stocks-base]
type = custom/script
interval = 900
exec = ~/.config/polybar/scripts/stock-quotes.py --symbol "$symbol"

[module/stocks-goog]
inherit = stocks-base
env-symbol = "GOOG"

[module/stocks-now]
inherit = stocks-base
env-symbol = "NOW"

;==========================================================
;  Swap
;==========================================================

[module/swap-usage]
type = custom/script
interval = 2
exec = ~/.config/polybar/scripts/swap-usage.py

[module/swap-usage-formatted]
type = custom/script
interval = 2
env-format = "{^used / ^total}"
env-unit = "auto"
exec = ~/.config/polybar/scripts/swap-usage-formatted.py --format "$format" --unit "$unit"

[module/swap-usage-clickable]
type = custom/ipc
label = %output%
initial = 1
hook-0 = ~/.config/polybar/scripts/swap-usage-clickable.py --unit auto
click-left = ~/.config/polybar/scripts/swap-usage-clickable.py --unit auto --toggle && polybar-msg action swap-usage-clickable hook 0
daemonize = true
daemonize-arg-interval = 2

;==========================================================
;  System Updates
;==========================================================

[system-updates-base]
type = custom/script
interval = 3600
exec = ~/.config/polybar/scripts/system-updates.py --type "$type"

[module/apt-updates]
inherit = system-updates-base
env-type = "apt"

[module/brew-updates]
inherit = system-updates-base
env-type = "brew"

[module/flatpak-updates]
inherit = system-updates-base
env-type = "flatpak"

[module/mint-updates]
inherit = system-updates-base
env-type = "mintupdate"

;==========================================================
;  Systray
;==========================================================

[module/systray]
type = internal/tray

format-margin = 8pt
tray-spacing = 16pt

;==========================================================
;  Weather
;==========================================================

[weather-base]
type = custom/script
interval = 900
env-api_key = "<your_weather_api_key>"
exec = ~/.config/polybar/scripts/weather.py --api-key "$api_key" --location "$location"

[module/weather-san-diego]
inherit = weather-base
env-location = "San Diego, CA, US"

;==========================================================
;  WLAN
;==========================================================

[wlan-base]
type = custom/script
interval = 2
exec = ~/.config/polybar/scripts/wifi-status.py --interface "$interface"

[module/wlan-wlo1]
inherit = wlan-base
env-interface = "wlo1"
