# /etc/systemd/system/polybar-resume@.service
# Enable now with
# sudo systemctl enable --now polybar-resume@<bar_name>.service
# Enable at next boot with
# sudo systemctl enable polybar-resume@<bar_name>.service

[Unit]
Description=Restart polybar after suspend
After=suspend.target hibernate.target

[Service]
Type=exec
ExecStart=/usr/bin/systemd-run --machine=%i@ --user polybar-msg cmd restart

[Install]
WantedBy=suspend.target hibernate.target
