# polybar.service
# Keep polybar alive at login and auto-restart on crash
# This version relies on polybar-user-level-resume.sh
#
# mkdir -p ~/.config/systemd/user
# modify this file to your liking
# link it or copy it to ~/.config/systemd/user (as polybar-resume.service)
# systemctl --user daemon-reload
# systemctl --user enable --now polybar-resume.service

[Unit]
Description=User-level Polybar resume watcher
After=graphical.target

[Service]
ExecStart=/home/gdanko/.config/polybar/polybar-user-level-resume.sh
Restart=always

[Install]
WantedBy=default.target